<template>
  <!-- Content only for SEO -->
  <div class="page-region">
    <EventListDate :date="todayDate" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import EventListDate from '~/components/EventListDate'

export default {
  name: 'region',
  head() {
    return {
      title: this.selectedRegion.name,
      titleTemplate: (titleChunk) => {
        return `Denkmal.org ${this.$t('page.index')} - ${titleChunk}`
      },
    }
  },
  components: {
    EventListDate,
  },
  computed: {
    ...mapGetters({
      todayDate: 'datetime/todayDate',
      selectedRegion: 'regions/selectedRegion',
    }),
  },
  async asyncData({ store, params, redirect, error }) {
    if (store.getters['regions/isValidRegionSlug'](params.region)) {
      await store.dispatch('regions/setSelectedRegionBySlug', params.region)
    } else {
      error({ statusCode: 404, message: `Invalid region: '${params.region}'` })
      return
    }
    await store.dispatch('events/ensureEventsByWeek')

    redirect({
      name: 'region-date',
      params: {
        lang: store.getters['i18n/getLanguage'],
        region: store.getters['regions/selectedRegionSlug'],
        date: store.getters['datetime/todayDate'],
      },
    })
  },
}
</script>
