<template>
  <a
    v-if="href"
    class="Button"
    :class="[buttonColor(color), buttonDisabled(disabled)]"
    :href="href"
    rel="noopener"
    target="_blank"
  >
    <span class="Button-inner">
      <span v-if="icon" class="Button-inner-icon">
        <Icon :icon="icon" />
      </span>
      <span class="Button-inner-label">
        <slot></slot>
      </span>
    </span>
  </a>
  <nuxt-link v-else-if="to" class="Button" :class="[buttonColor(color), buttonDisabled(disabled)]" :to="to">
    <span class="Button-inner">
      <span v-if="icon" class="Button-inner-icon">
        <Icon :icon="icon" />
      </span>
      <span class="Button-inner-label">
        <slot></slot>
      </span>
    </span>
  </nuxt-link>
  <button
    v-else
    class="Button"
    :class="[buttonColor(color, disabled), buttonDisabled(disabled)]"
    :disabled="disabled || isLoading"
    :type="type"
    v-ripple
  >
    <span class="Button-inner" :class="{ spinner: isLoading }">
      <span v-if="icon" class="Button-inner-icon">
        <Icon :icon="icon" />
      </span>
      <span class="Button-inner-label">
        <slot></slot>
      </span>
    </span>
  </button>
</template>

<script>
import Icon from '~/components/Icon'

export default {
  components: {
    Icon,
  },
  props: {
    color: {
      type: String,
      default: 'primary',
    },
    icon: {
      type: String,
      default: '',
    },
    to: {
      type: Object | String,
      default: '',
    },
    href: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'button',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    buttonColor: (color, disabled) => ({
      'Button--primary': color === 'primary',
      'Button--transparent': color === 'transparent',
      'Button--footer': color === 'footer',
      'Button--disabled': disabled,
    }),
    buttonDisabled: (isDisabled) => (isDisabled ? 'Button--disabled' : ''),
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';

.Button {
  -webkit-appearance: none;
  background-clip: padding-box;
  border: 0;
  border-radius: $radius;
  box-shadow: none;
  cursor: pointer;
  display: inline-flex; // Not working properly in FF
  font-size: 1.2rem;
  font-weight: $fontWeightBold;
  line-height: 1.4;
  margin: 0 0.2rem;
  padding: 0.5em 1.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 200ms ease-out;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;

  .Button-inner {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
  }

  .Button-inner-icon {
    display: flex;
    margin-right: 0.2em;
  }

  .Button-inner-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:disabled,
  &.Button--disabled {
    filter: grayscale(1);
    pointer-events: none;
  }

  &.Button--primary {
    background-color: var(--color-theme);
    color: #fff;
  }

  &.Button--footer {
    background-color: var(--color-action-bar-bg);
    border-radius: 0;
    color: var(--color-action-bar-fg);
    font-weight: normal;
  }

  &.Button--transparent {
    background-color: transparent;
    color: inherit;
    font-weight: normal;

    &:hover {
      box-shadow: none;
    }
  }
}
</style>
