<template>
  <div
    class="EventDetailsMeta"
    :class="{
      'EventDetailsMeta--favorite-venue': isFavorite,
    }"
  >
    <div class="EventDetailsMeta-inner container">
      <div class="EventDetailsMeta-inner-wrapper">
        <div
          class="meta meta--venue"
          :class="{
            'meta--no-details': !(event.venue.address || event.venue.url || event.venue.facebookPageId),
          }"
        >
          <transition name="pop">
            <Icon
              v-if="isFavorite"
              className="meta-favorite"
              icon="favorite-2"
              :aria-label="$t('event.favoriteVenue')"
            />
          </transition>
          <button class="meta-item button-reset" @click="showDetails = !showDetails">
            <span class="label">{{ $t('event.venue') }}</span>
            <span class="content">
              {{ event.venue.name }}
              <Icon :className="['meta-item-more', { 'meta-item-more--rotated': showDetails }]" icon="angle-down-1" />
            </span>
          </button>
        </div>
        <div class="meta">
          <div class="meta-item">
            <span class="label">{{ $t('event.date') }}</span>
            <time class="content date-date" :datetime="event.from">
              {{ date }}
              <span v-if="date !== dateTechnicallyCorrect">*</span>
            </time>
          </div>
        </div>
        <div class="meta meta--time">
          <div class="meta-item">
            <span class="label">{{ $t('event.time') }}</span>
            <div class="content time">
              <template v-if="event.hasTime">
                <time v-if="event.until" :datetime="event.until" :title="$t('event.until')"
                  >{{ from }}-{{ until }}</time
                >
                <time v-else :datetime="event.from">{{ from }}</time>
              </template>
              <i v-else>{{ $t('error.unknown') }}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="event.venue.address || event.venue.url || event.venue.facebookPageId"
      v-show="showDetails"
      class="EventDetailsMeta-more container"
      :aria-label="$t('event.venue')"
    >
      <div class="EventDetailsMeta-more-inner">
        <div class="address" v-if="event.venue.address">
          <Icon icon="pin-1" />
          {{ event.venue.address }}
        </div>
        <div v-if="event.venue.url">
          <Icon icon="link-1" />
          <LinkExternal :href="event.venue.url">{{ $t('event.website') }}</LinkExternal>
        </div>
        <div v-if="event.venue.facebookPageId">
          <Icon icon="link-1" />
          <LinkExternal :href="`https://facebook.com/${event.venue.facebookPageId}`">Facebook</LinkExternal>
        </div>
      </div>
      <button type="button" class="EventDetailsMeta-more-button button-reset" @click="showDetails = false">
        <Icon icon="close-1" />
      </button>
    </div>
  </div>
</template>

<script>
import { DateTime } from 'luxon'
import { mapGetters } from 'vuex'

import Icon from '~/components/Icon'
import Button from '~/components/Button'
import LinkExternal from '~/components/LinkExternal'
import { eventDateParty, eventFromDateTime, eventUntilDateTime } from 'assets/dateHelpers'

export default {
  components: {
    Button,
    Icon,
    LinkExternal,
  },
  data() {
    return {
      showDetails: false,
    }
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      isFavoriteVenue: 'userPreferences/isFavoriteVenue',
      language: 'i18n/getLanguage',
    }),
    isFavorite() {
      return this.isFavoriteVenue(this.event.venue.id)
    },
    date() {
      return eventDateParty(this.event, this.language).toLocaleString(DateTime.DATE_MED)
    },
    dateTechnicallyCorrect() {
      return eventFromDateTime(this.event, this.language).toLocaleString(DateTime.DATE_MED)
    },
    from() {
      return eventFromDateTime(this.event, this.language).toLocaleString(DateTime.TIME_SIMPLE)
    },
    until() {
      let date = eventUntilDateTime(this.event, this.language)
      if (!date) {
        return undefined
      }
      return date.toLocaleString(DateTime.TIME_SIMPLE)
    },
  },
  deactivated() {
    this.showDetails = false
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.EventDetailsMeta {
  color: var(--color-text);
  flex-shrink: 0;
  font-size: 0.85em;
  line-height: 1.3;
  position: relative;

  @include small {
    font-size: $fontSize;
  }

  .EventDetailsMeta-inner {
    background-image: linear-gradient(
      to top,
      hsla(0, 0%, var(--color-accent-lightness), 0.03),
      hsla(0, 0%, var(--color-accent-lightness), 0.01)
    );
    border-bottom: 1px solid var(--color-border);
  }

  .EventDetailsMeta-more {
    align-items: center;
    background-color: var(--color-bg);
    box-shadow: 0 0 20px hsla(0, 0%, var(--color-accent-lightness), 0.2);
    display: flex;
    font-size: $fontSize;
    padding-bottom: 0.8em;
    padding-top: 1em;
    position: relative;
    top: -1px;

    .EventDetailsMeta-more-inner {
      flex-grow: 1;

      > div {
        align-items: center;
        display: flex;
      }

      a,
      .address {
        padding-bottom: 0.4em;
        padding-top: 0.4em;
      }

      .Icon {
        flex-shrink: 0;
        margin-right: 0.4em;
        opacity: 0.6;
      }

      a {
        display: inline-flex;
        margin-right: 0.5em;
      }
    }

    .EventDetailsMeta-more-button {
      align-items: center;
      display: inline-flex;
      font-size: 1.5em;
    }

    &::after,
    &::before {
      border-style: solid;
      bottom: calc(100% - 1px);
      content: '';
      display: block;
      height: 0;
      pointer-events: none;
      position: absolute;
      width: 0;
    }

    &::after {
      border-color: transparent transparent var(--color-bg) transparent;
      border-width: 10px;
      left: calc(var(--container-padding) + 11px);
    }

    &::before {
      border-color: transparent transparent hsla(0, 0%, var(--color-accent-lightness), 0.05) transparent;
      border-width: 11px;
      left: calc(var(--container-padding) + 10px);
    }
  }

  .EventDetailsMeta-inner-wrapper {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: relative;
    z-index: 1;
  }

  .meta {
    display: flex;
    overflow: hidden;

    &:not(:first-child) {
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: flex-end;
      padding-left: 0.9em;
    }

    .meta-item {
      display: flex;
      flex-direction: column;
      text-align: left;

      .content {
        align-items: center;
        display: inline-flex;
        min-height: 1.2em;
      }
    }

    &.meta--venue {
      overflow: hidden;
      position: relative;

      .meta-item {
        overflow: hidden;
        padding-right: 2.1em;
        transform: translate3d(0, 0, 0);
        transition: 200ms;

        .meta-item-more {
          margin-left: 0.2em;
          position: relative;
          transform: rotate(0deg);
          transform-origin: center;
          transition: 300ms;

          &.meta-item-more--rotated {
            transform: rotate(-180deg);
          }
        }
      }

      .meta-favorite {
        bottom: 0.1em;
        color: var(--color-theme);
        height: 1.7em;
        position: absolute;
        width: 1.7em;
      }

      &.meta--no-details {
        .meta-item {
          pointer-events: none;
        }

        .meta-item-more {
          display: none;
        }
      }
    }

    &.meta--time {
      .time {
        white-space: nowrap;
      }
    }
  }

  &.EventDetailsMeta--favorite-venue {
    .meta.meta--venue .meta-item {
      transform: translate3d(2.1em, 0, 0);
    }

    .EventDetailsMeta-more {
      &::after {
        left: 51px;
        left: calc(var(--container-padding) + 41px);
      }

      &::before {
        left: 50px;
        left: calc(var(--container-padding) + 40px);
      }
    }
  }
}
</style>
