<template>
  <nav
    class="Header"
    :class="{
      'Header--night': isNightMode,
      'Header--navigation-visible': isNavigationVisible,
      'Header--region-tsri': isTsriTheme,
    }"
  >
    <div class="container Header-inner">
      <nuxt-link :to="localePath('/')" class="logo">
        <LogoNight v-show="isNightMode" />
        <img
          v-show="!isNightMode && isTsriTheme"
          class="logo-img"
          alt="Logo Denkmal.org"
          src="~assets/images/logo-white.svg"
        />
        <img
          v-show="!isNightMode && !isTsriTheme"
          class="logo-img"
          alt="Logo Denkmal.org"
          src="~assets/images/logo.svg"
        />
      </nuxt-link>
      <div class="Header-inner-end">
        <LinkExternal class="logo-region" v-if="isTsriTheme" href="https://tsri.ch">
          <LogoTsri />
        </LinkExternal>
        <Hamburger />
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

import Hamburger from '~/components/Hamburger'
import LogoNight from '~/components/LogoNight'
import LogoTsri from '~/components/LogoTsri'
import LinkExternal from '~/components/LinkExternal'

export default {
  components: {
    Hamburger,
    LogoNight,
    LogoTsri,
    LinkExternal,
  },
  computed: {
    ...mapState({
      isNavigationVisible: (state) => state.isNavigationVisible,
    }),
    ...mapGetters({
      isNightMode: 'userPreferences/isNightMode',
      isSelectedRegionTsri: 'regions/isSelectedRegionTsri',
    }),
    isTsriTheme() {
      return this.isSelectedRegionTsri
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.Header {
  background-color: var(--color-header-bg);
  box-shadow: 0 4px 12px hsla(0, 0%, var(--color-accent-lightness), 0.1);
  color: var(--color-theme-fg);
  height: $headerHeight;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;

  a:focus {
    outline: 0;
  }

  .Header-inner {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
  }

  .Header-inner-end {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    right: var(--container-padding);

    a.logo-region {
      align-items: center;
      display: flex;
      height: 100%;
      margin-left: 0.5em;
      margin-right: 0.5em;

      svg {
        height: 1.7rem;

        @include mini {
          height: 1.9rem;
        }
      }
    }
  }

  .logo {
    align-items: center;
    border-radius: $radius;
    display: flex;
    height: 100%;
    left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;

    .logo-img {
      height: 1.3rem;
      width: auto;

      @include mini {
        height: 1.4rem;
      }

      @include small {
        height: 1.5rem;
      }
    }
  }

  &.Header--night {
    .Header-inner {
      justify-content: center;

      @include medium {
        justify-content: flex-start;
      }
    }
  }

  &.Header--navigation-visible {
    box-shadow: 0 4px 12px hsla(0, 0%, var(--color-accent-lightness), 0.1);

    .WeekdaysMenu .nuxt-link-active::after {
      display: none;
    }
  }

  &.Header--region-tsri {
    box-shadow: 0 4px 12px hsla(0, 0%, var(--color-accent-lightness), 0.1);

    &.Header--night {
      .Header-inner {
        justify-content: flex-start;
      }
    }

    .Header-inner-end {
      color: var(--color-theme-secondary-fg);
    }

    &::before {
      background-color: var(--color-theme-secondary);
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transform: skew(-30deg);
      transform-origin: bottom left;
      width: 150px;

      @include mini {
        width: 180px;
      }

      @include small {
        width: 210px;
      }

      @include medium {
        width: calc((100vw - var(--max-page-width)) / 2 + 240px);
      }
    }
  }
}
</style>
