<template functional>
  <svg class="Icon" v-bind="{ class: props.className }">
    <use v-bind="{ 'xlink:href': `/orion-svg-sprite.svg#${props.icon}` }"></use>
  </svg>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true,
    },
    className: {
      type: Array | String,
    },
  },
}
</script>

<style>
.Icon {
  height: 1.2em;
  stroke: currentColor;
  width: 1.2em;
}
</style>
