<template functional>
  <a
    :href="props.href"
    :class="'LinkExternal' + (data.staticClass ? ' ' + data.staticClass : '')"
    :place="props.place"
    rel="noopener"
    target="_blank"
  >
    <slot></slot>
  </a>
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      required: true,
    },
    // Prop/attribute "place" is used by "vue-i18n"
    // See https://kazupon.github.io/vue-i18n/guide/interpolation.html#advanced-usage
    place: {
      type: String,
      required: false,
      default: '',
    },
  },
}
</script>
