<template>
  <nav :class="menuClass" class="menu">
    <ul>
      <li v-for="(item, i) in items" :key="i">
        <nuxt-link
          v-if="item.path"
          :to="localePath(`${item.path}`)"
          :class="item.class"
          @click.native="$store.commit('toggleNavigationVisibility', false)"
          >{{ item.label }}</nuxt-link
        >
        <a v-if="item.url" :href="item.url" :class="item.class" :title="item.label" target="_blank" rel="noopener">{{
          item.label
        }}</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: null,
    },
    menuClass: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss">
.menu ul {
  list-style-type: none;
  padding: 0;

  a {
    position: relative;
  }
}
</style>
