@import 'variables';

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@mixin mini {
  @media screen and (min-width: $breakpointMini) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: $breakpointSmall) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: $breakpointMedium) {
    @content;
  }
}

@mixin tall {
  @media screen and (min-height: 720px) {
    @content;
  }
}
