<template>
  <section class="page-about section container">
    <h1 class="title">{{ $t('page.about') }}</h1>
    <p>{{ $t('About.intro') }}</p>

    <h2>Basel</h2>
    <i18n path="About.basel" tag="p">
      <LinkExternal place="link" href="https://denkmalmit.org">Denkmalmit</LinkExternal>
    </i18n>
    <p>
      <LinkExternal href="https://www.instagram.com/denkmal.org_bsl">Instagram</LinkExternal>&nbsp;
      <LinkExternal href="https://twitter.com/denkmal_basel">Twitter</LinkExternal>&nbsp;
      <LinkExternal href="https://www.facebook.com/denkmal.org.basel">Facebook</LinkExternal>&nbsp;
      <LinkExternal href="mailto:basel@denkmal.org">basel@denkmal.org</LinkExternal>
    </p>

    <h2>Zürich</h2>
    <i18n path="About.zurich" tag="p">
      <LinkExternal place="link" href="https://tsri.ch">Tsüri.ch</LinkExternal>
    </i18n>

    <LinkExternal href="https://www.instagram.com/denkmal_tsri">Instagram</LinkExternal>&nbsp;
    <LinkExternal href="https://twitter.com/denkmal_tsri">Twitter</LinkExternal>&nbsp;
    <LinkExternal href="https://www.facebook.com/denkmal.org.tsri">Facebook</LinkExternal>&nbsp;
    <LinkExternal href="mailto:tsri@denkmal.org">tsri@denkmal.org</LinkExternal>

    <hr />

    <i18n path="About.footerSourcecode" tag="small">
      <LinkExternal place="gitlab" href="https://gitlab.com/denkmal">Gitlab</LinkExternal>
    </i18n>
    <br />
    <small
      >{{ $t('About.footer') }} <a href="mailto:kontakt@denkmal.org">{{ $t('button.contactUs') }}</a
      >.</small
    >
  </section>
</template>

<script>
import LinkExternal from '~/components/LinkExternal'

export default {
  name: 'about',
  head() {
    return {
      title: this.$t('page.about'),
    }
  },
  components: {
    LinkExternal,
  },
}
</script>
